body{
    background-image: url("https://www.thetechblock.com/wp-content/uploads/2019/10/data_warehouse_in_cloud-768x512.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%
}
